<ion-content fullscreen class="background-image">
  <br><br><br>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">E-Mail<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="email" [(ngModel)]="username" name="username" ngModel></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input required type="password" [(ngModel)]="password" name="password" ngModel></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <div class="ion-padding">
            <ion-button expand="block" (click)="checkUser()" type="button" expand="full" color="secondary" size="large"
              color="primary" class="ion-no-margin">Login</ion-button>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label class="ion-padding" routerLink="/signup">New User?</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>