ion-title {
    font-size: 1rem !important; // Default should be 2.0rem
  }
  .new-background-color{
    // --background: linear-gradient(to right, #2fdee0,#041d2c);
    --background: rgb(4,29,44);
    --background: linear-gradient(90deg, rgba(234, 246, 253, 0.7721463585434174) 0%, rgba(190, 254, 255, 0.7413340336134453) 100%);
  }
ion-title {
  font-size: 1rem !important; // Default should be 2.0rem
  color: #fff;
  font-weight: 700;
}
ion-menu-button{
  color: #fff;
}
.background-image{
  --background: url('../../assets/icon/flag.jpg') center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size:contain;
}
