<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: black;">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content fullscreen class="background-image"> 
      <ion-grid>
          <ion-row>
            <ion-col size="12">
              <img src="../../assets/icon/sddefault.jpg" style="width: auto;margin: auto;display: block;" />
            </ion-col>
          </ion-row>
        </ion-grid>
           <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <ion-card-content>
            <p class="text-size" styel="font-size:16px">contact us</p>
            <p class="text-size">web :www.driveingschool.com</p>
            <p class="text-size">mail: driveingschool@gmail.com</p>
            <p class="text-size">phone: +91 98765 43210</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
  </ion-content>