<ion-content fullscreen class="background-image">
  <ion-grid style="height: 100%;">
    <ion-row justify-content-center align-items-center style="height: 100%">

      <ion-list class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" [(ngModel)]="firstname" id="rounded"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Mobile <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="tel" required pattern="[0-9]{11}" [(ngModel)]="mobile"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">E-Mail<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Age<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="number" [(ngModel)]="age"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input type="email" [(ngModel)]="address"></ion-input>
        </ion-item>

        <ion-radio-group [(ngModel)]="gender">
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" color="tertiary"  value="male" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio slot="start" color="tertiary"  value="female"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item>
          <ion-label>Date</ion-label>
          <ion-input type="date" [(ngModel)]="date" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Time</ion-label>
          <ion-input type="time" [(ngModel)]="times"></ion-input>
        </ion-item>

      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" (click)="setTheValue()" type="button" class="ion-no-margin">Create accounts
        </ion-button>
      </div>
      <ion-label class="ion-padding" routerLink="/login">Admin Login</ion-label>

    </ion-row>
  </ion-grid>
</ion-content>