<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: black;">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background-image">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/icon/images.jpeg" style="width: auto;margin: auto;display: block;" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/gstviolation">
          <ion-card-content>
            <p class="text-size">If you’ve never been behind the steering wheel, this course is for you. At the end of
              21 days, you’ll know the basic traffic rules and have a hands-on driving experience through simulators and
              on-road driving. </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">If you’re the one who has a license but feels under-confident while driving alone, this
              course is for you. At the end of these exciting 8 days, you’ll take on the roads effortlessly. How? By
              training under proficient trainers, of course.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">If you’re the one who has a license but feels under-confident while driving alone, this
              course is for you. At the end of these exciting 8 days, you’ll take on the roads effortlessly. How? By
              training under proficient trainers, of course.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">The trainee should inform if he /she is not coming for the class 4hrs. before.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">In 15 days course, you can take 5 days leave (max 20 days training is allowed). In 7
              days you can only take 3 leaves.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">Training on own car 30 minutes: Rs.200/, 1 Hour: Rs.300.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">The A/C price is extra from fees, it is not included in the fees structure.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">Advance payment would not be refundable.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size"> You are well aware that the driving schools run by the individuals/ others are
              regulated by certain statutory provisions as under Motor vehicle Act, 1988 and C.M.V.Rules, 1989 which
              came into effect from 1.7.1989 vide section 12 and Rules 24 to 31A, respectively as also under various
              administrative instructions issued thereunder from time to time. Section 12 of M.V.Act 1988 deals with the
              licensing and regulation of driving schools or establishments (by whatever name called) for imparting
              instruction in driving of motor vehicles and related matters.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-content>