<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: black;">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="background-image">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/icon/images.jpeg" style="width: auto;margin: auto;display: block;" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/gstviolation">
          <ion-card-content>
            <p class="text-size">If you’ve never been behind the steering wheel, this course is for you. At the end of
              21 days, you’ll know the basic traffic rules and have a hands-on driving experience through simulators and
              on-road driving. </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/jurisdiction">
          <!-- <img src="assets/icon/shapes.svg" /> -->
          <ion-card-content>
            <p class="text-size">If you’re the one who has a license but feels under-confident while driving alone, this
              course is for you. At the end of these exciting 8 days, you’ll take on the roads effortlessly. How? By
              training under proficient trainers, of course.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <h3 color="primary">Driveing Booking Confirmed</h3>
    </div>
    <!--  <ion-row>
        <ion-col size="6">
          <ion-card routerLink="/gstrate">
            <img src="assets/icon/finder.svg" />
            <ion-card-content>
              <p class="text-size">GST Rate Finder</p>
            </ion-card-content>  
          </ion-card>      
        </ion-col>
        <ion-col size="6">
          <ion-card >
            <img src="assets/icon/about.svg" />
            <ion-card-content>
              <p class="text-size">About GST</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
       -->
  </ion-grid>
</ion-content>